
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Content/Home/images/website.png" id="icon" alt="User Icon" />
        </div>
        <h2>Forgot Password</h2>

        <!-- Login Form -->
        <form action="/Home/ForgotPassword" method="post">
            <h2>@ViewBag.Message</h2>
            <input type="text" class="fadeIn second" name="Email" placeholder="Email" required>            
            <input type="submit" class="fadeIn fourth" value="Get Password">
        </form>

    </div>
</div>


